<div class="error-page server-error-page">
    <!-- Wrapper Starts -->
    <div class="wrapper">
        <div class="container-fluid error">
            <div>
                <div class="text-center">
                    <!-- Logo Starts -->
                    <a class="logo" href="/">
                        <img class="img-responsive" src="/images/logo.JPG" alt="logo">
                    </a>
                    <!-- Logo Ends -->
                    <!-- Error 503 Content Starts -->
                    <div class="big-404">503</div>
                    <h3>Oh no ! ... Server Error</h3>
                    <p>The server encountered an error and could not complete your request, Please Try again later
                        or refresh the page </p>
                    <a id="refresh" href="#" class="refresh"><i class="fa fa-refresh"></i> refresh the page</a>
                    <!-- Error 503 Content Starts -->
                </div>
            </div>
        </div>
        <!-- Template JS Files -->
        <script src="/js/jquery-2.2.4.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/select2.min.js"></script>
        <script src="/js/jquery.magnific-popup.min.js"></script>
        <script src="/js/custom.js"></script>
    </div>
    <!-- Wrapper Ends -->
</div>